#mynetwork {
    width: 100%;
    height: 700px;
    border: 8px solid rgba(0, 0, 0, 0.836);
    margin-top: -30px;
    /* background-color: rgb(184, 184, 184); */
  }
  html,
body {
  font: 11pt arial;
  background-color:rgb(226, 226, 226);
}
label
{
  font-size: 1.5em;
}
h1 {
  font-size: 400%;
  margin: 5px 0;
}

h2 {
  font-size: 100%;
  margin: 5px 0;
}

table.view {
  width: 100%;
}

table td {
  vertical-align: top;
}

table table {
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
}

table table td {
  vertical-align: middle;
}

input[type="text"],
pre {
  border: 1px solid lightgray;
}

pre {
  margin: 0;
  padding: 5px;
  font-size: 10pt;
}
.btn
{
  background-color: rgb(226, 226, 226);
  border-color: rgba(85, 85, 85, 0.836);
  color: rgba(0, 0, 0, 0.836);
}
.btn:hover
{
  background-color: rgba(0, 0, 0, 0.836);
  border-color: rgb(226, 226, 226);
  color: rgb(226, 226, 226);
}
.btn:focus
{
  background-color: rgba(0, 0, 0, 0.836);
  border-color: rgb(226, 226, 226);
  color: rgb(226, 226, 226);
}
